In [10]:
import pandas as pd

#Dataset spotify_youtube ranking de canciones de spotify y sus videos de youtube

#Link dataset:https://www.kaggle.com/datasets/salvatorerastelli/spotify-and-youtube

"""Este dataset se puede utilizar para analizar el porque ciertas canciones o bandas logran estar dentro del top 
y como mantiene esos numeros a lo largo del tiempo.
-




"""

url = r"C:\Users\Admin\Desktop\DATA SCIENCE\archive\Spotify_Youtube.csv"

DATA = pd.read_csv(url)

DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Url_spotify       20718 non-null  object
 3   Track             20718 non-null  object
 4   Album             20718 non-null  object
 5   Album_type        20718 non-null  object
 6   Uri               20718 non-null  object
 7   Danceability      20716 non-null  float64
 8   Energy            20716 non-null  float64
 9   Key               20716 non-null  float64
 10  Loudness          20716 non-null  float64
 11  Speechiness       20716 non-null  float64
 12  Acousticness      20716 non-null  float64
 13  Instrumentalness  20716 non-null  float64
 14  Liveness          20716 non-null  float64
 15  Valence           20716 non-null  float64
 16  Tempo             20716 non-null  float64
 17  Duration_ms       20716 non-null  float64
 18  Url_youtube       20248 non-null  object
 19  Title             20248 non-null  object
 20  Channel           20248 non-null  object
 21  Views             20248 non-null  float64
 22  Likes             20177 non-null  float64
 23  Comments          20149 non-null  float64
 24  Description       19842 non-null  object
 25  Licensed          20248 non-null  object
 26  official_video    20248 non-null  object
 27  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(12)
memory usage: 4.4+ MB

In [17]:
import pandas as pd


#Dataset sobre lenguajes de programacion

"""En este datase se encuentran todos los lenguajes de programacion que existen ,desde 1957 hasta el siglo 21, 
y se puede investigar acerca de su uso en la actualidad o bien las funciones que cada lenguaje posee"""

url1 = "https://pldb.com/pldb.csv"

DATA1 = pd.read_csv(url1)

DATA1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4822 entries, 0 to 4821
Columns: 344 entries, title to twitter_followers
dtypes: float64(42), int64(9), object(293)
memory usage: 12.7+ MB

C:\Users\Admin\AppData\Local\Temp\ipykernel_4960\2674882420.py:11: DtypeWarning: Columns (17,23,25,30,33,34,42,45,47,48,49,50,51,52,53,56,57,59,60,62,64,71,73,74,75,76,78,79,80,81,82,83,84,85,86,88,89,90,92,93,94,95,96,97,98,99,100,101,102,103,105,107,108,109,110,111,112,113,114,115,117,118,119,120,121,124,125,126,127,128,129,131,132,133,136,137,138,139,140,141,142,147,148,149,150,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,176,177,178,179,180,181,182,183,184,185,186,188,189,190,191,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339) have mixed types. Specify dtype option on import or set low_memory=False.
  DATA1 = pd.read_csv(url1)

In [11]:
#Dataset sobre lenguajes de programacion

#Link dataset:https://www.kaggle.com/datasets/ibriiee/video-games-sales-dataset-2022-updated-extra-feat?select=Video_Games.csv
"""
Este dataset guarda informacion de mas de 15mil juegos donde se pueden comparar 
entre generos, plataforma del juego, criticas y ventas en 3 locasiones diferentes.


"
url3 = r"C:\Users\Admin\Desktop\DATA SCIENCE\DatasetsGame\Video_Games.csv"

DATA2 = pd.read_csv(url3)

DATA2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB